/* nav bar styling */
.navbar { 
    background-color: #DBDBDB ;
    color: #FFFFFF ;
}

/* nav bar styling end */


.landingHeader {
    background-color: #DBDBDB;
    color: #503B3B; 
}

.landingRow {
    background-color: white;
}

/* sections here */
.section-landing{
    width: 100%;
    min-height: 100vh;
    background-color: #FC944C;
}

.section-aboutUs{
    width: 100%;
    min-height: 100vh;
    background-color: #FC944C;
}

.container-aboutUS{
    background-color: white;
}

.section-card {
    width: 100%;
    min-height: 100vh;
    background-color: white;
}
/* sections end here */

/* logo styling */
.smallLogo {
    width: 200px;
}
/* logo styling end */

/* button styling */
.buttonstyle {
    min-width: 130px;
    height: 40px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #FC944C; /* Primary accent color */
    border: 2px solid #503B3B; /* Same as background for a cohesive look */
    color: #FFFFFF; /* White text for contrast */
    overflow: hidden;
  }
  
  .buttonstyle:hover {
    color: #503B3B; /* Keep text white on hover */
    background: #503B3B; /* Darken the background on hover */
    border-color: #503B3B; /* Match border to hover background */
  }
  
  .buttonstyle:hover::after {
    height: 100%;
  }
  
  .buttonstyle::after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    background: #DBDBDB; /* Light gray for contrast */
  }

  /* circle images */ 
  .circle_Image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
  }
  