@font-face {
    font-family: 'SugarAndSpice';
    src: url('fonts/Sugar\ &\ Spice\ demo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* General styles */
body {
    font-family: 'Lato', sans-serif;
    color: #503B3B;
    margin: 0;
    padding: 0;
}

/* Navbar styling */
.navbar {
    background-color: white;
    font-family: 'Lato', sans-serif;
    font-size: larger;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    color: #503B3B;
    text-decoration: none;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #FC944C;
    left: 0;
    bottom: -2px;
    transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link:hover {
    color: #FC944C;
}

/* Section: Landing */
.section-landing {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #dfdfdf;
}

.container-landing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.landingRow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingHeader {
    background-color: white;
    color: #503B3B;
}

.landingImg {
    width: 500px;
}

.section-landing h4 {
    font-family: 'SugarAndSpice';
    font-size: 50px;
}

.section-landing p {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #FC944C;
}

/* Section: About Us */
.section-aboutUs {
    width: 100%;
    min-height: 100vh;
    background-color: #FC944C;
}

.container-aboutUS {
    background-color: white;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    background: #f1f1f1;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* Dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
  }
  
  /* Dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  q {font-style: italic;}
  .author {color: cornflowerblue;}
  
/* Other sections */
.section-card {
    width: 100%;
    min-height: 100vh;
    background-color: white;
}

.section-card2 {
    width: 100%;
    min-height: 100vh;
    background-color: #FC944C;
}

/* Button styling */
.buttonstyle {
    min-width: 130px;
    height: 40px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #FC944C;
    border: 2px solid #503B3B;
    color: #FFFFFF;
    overflow: hidden;
}

.buttonstyle:hover {
    color: #503B3B;
    background: #503B3B;
    border-color: #503B3B;
}

.buttonstyle:hover::after {
    height: 100%;
}

.buttonstyle::after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    background: #DBDBDB;
}

/* Circle images */
.circle_Image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

/* footer styling */

.logo {
    width: 200px;
}

.footer h3 {
    margin-bottom: 20px;
}

.footer a {
    text-decoration: none;
    color: #503B3B;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .fa-lg {
    font-size: 1.75em; 
    margin-right: 10px;
}
  

.footerCredit {
    background-color: #503B3B;
    color: white;
    font-family: 'Lato', sans-serif;

}

.instagram-icon {
    color: #C13584; 
}

.twitter-icon {
    color: #1DA1F2; 
}

.snapchat-icon {
   color: #FFFC00; 
}

.facebook-icon {
    color: #3b5998; 
}

/* footer styling */

/* Card styling */
.carditem {
    width: 25rem;
    border: 2px solid black;
    border-radius: 20px;
    transition: transform 0.2s;
}

.carditem:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 10px black;
    transition: 0.5s;
}

.cardimgborder {
    border: solid 4px black;
}

/* Additional button styling */
.btnstyle {
    min-width: 130px;
    height: 40px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    border: 2px solid black;
    color: black;
}

.btnstyle:hover {
    color: #fff;
}

.btnstyle:hover::after {
    height: 100%;
}

.btnstyle::after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    background: gray;
}


/* Logo styling */
.smallLogo {
    width: 200px;
}

.navbar-logo {
    width: 200px;
}
